.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 5vmin;
  z-index: 100;
  color: white;
  font-weight: bold;

  margin-left: 1vw;
}

.header {
  height: 7vh;
  background-color: #282c34cc;
  position: absolute;
  top: 0.15vh;
  right: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.selected-country {
  /*position: absolute;
  bottom: 3.5vh;*/
  width: 100%;
  /*right: 2vw;*/
  height: 5vh;

  margin-top: 0.5vh;

  font-size: 3vmin;

  background: #3c414d;
  box-shadow: 3px 3px #282c34;

  opacity: 0.9;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-country.active {
  background: #00ff00;
  box-shadow: 3px 3px #008800;

  color: black;
  opacity: 1;

  cursor: pointer;
}

.selected-country.active:hover {
  background: #00dd00;
  color: black;
  opacity: 1;

  cursor: pointer;
}

.map {
  /*position: absolute;
  bottom: 9vh;
  right: 2vw;*/
  height: 33vh;
  width: 100%;

  opacity: 0.9;
}

.round-result-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.round-result {
  width: 29vw;
  height: 22vh;
  border-radius: 1vw;

  z-index: 1000;

  display: flex;
  align-content: center; /* praise be to align-content */
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 auto;

  color: black;
}

.round-result.correct {
  background: #008800;
}

.round-result.incorrect {
  background: #880000;
}

.round-result > div {
  color: white;
}

.round-result-header {
  color: #fff !important;
  font-weight: bold;

  font-size: 4vw;
  width: 100%;
  text-shadow: 3px 3px #282c34;
}

.round-bubble {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;

  border: white 3px solid;
  box-sizing: border-box;

  margin: 0.5vw;
}

.round-bubble.right {
  border: none;
  background: #00ff00;
}

.round-bubble.wrong {
  border: none;
  background: #f00000;
}

.bubbles {
  right: 1.25vw;
  position: absolute;

  display: flex;
}

.round-result-desc {
  width: 100%;
}

.btn-next-round {
  border: 2px solid white;
  padding: 0.65vh 0vw;
  border-radius: 1vw;

  z-index: 10;
  position: absolute;
  top: 62%;

  width: 29vw;

  transition: 0.15s all ease;
}

.btn-next-round:hover {
  color: #282c34;
  background: white;
  cursor: pointer;
}

.result-percent {
  font-size: 16vmin;
  font-weight: bold;

  color: white;
  text-shadow: 3px 3px #00ff00;
  width: 100%;
}

.result-lbl {
  font-size: 4vmin;
  margin-bottom: -2.5vmin;
}

.version-number {
  color: #aaa;
  font-size: 1vw;
  position: absolute;
  top: 8vh;
  right: 1vw;
  z-index: 10000;
}

.watermark {
  color: white;
  font-size: 0.7vw;
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  z-index: 10000;
}

.play {
  display: flex;
  justify-content: center;
}

.gamemode-img {
  width: 18.5vmin;
  height: 18.5vmin;

  border-radius: 50%;
  border: 0.5vw solid white;

  margin-top: 1vw;

  transition: all 0.1s linear;

  background-position: center;
  background-size: 19.2vmin;
}

.gamemode-img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.img-countries {
  background-image: url('./globe.png');
}

.img-battle-royale {
  background-image: url('./battleroyale.png');
}

.img-create {
  background-image: url('./create.png');
}

.img-join {
  background-image: url('./join.png');
}

.gamemode-lbl {
  font-weight: bold;
  font-size: 3.7vmin;

  width: 100%;

  user-select: none;
}

.gamemode {
  position: relative;
  width: 35vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
}

.gamemode-wrapper {
  border: 0.35vw solid white;
  border-radius: 2vw;
  padding: 9vmin 0;

  box-shadow: 10px 10px #ff00ff;
  transition: 0.05s all linear;

  margin: 0 1vw;
}

.gamemode-wrapper:hover {
  transform: translate(5px, 5px);
  box-shadow: 5px 5px #aa00aa;

  cursor: pointer;
}

.wip {
  position: absolute;

  bottom: -8vmin;
  font-size: 1vw;

  user-select: none;
}

.end-btn {
  margin: 0 0.5vw;

  height: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10vw;
  border: 2px solid white;

  cursor: pointer;
  transition: 0.15s all linear;

  font-size: 3vmin;

  user-select: none;
}

.end-btn:hover {
  color: #282c34;
}

.btn-home {
  width: 14vmin;
  border-color: #ff88bb;
  color: #ff88bb;
}

.btn-home:hover {
  background: #ff88bb;
}

.btn-new-game {
  width: 18vmin;

  border-color: #88bbff;
  color: #88bbff;
}

.btn-new-game:hover {
  background: #88bbff;
}

.end-btns {
  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 38vh;
}

.landing-header {
  font-size: 6vmin;
  margin-top: -7vh;
  margin-bottom: 5vh;
  font-weight: bold;
}

.lobby-header {
  font-size: 6vmin;
  margin-top: -9vh;
  font-weight: bold;
}

.lobby-room-code {
  font-size: 3vmin;
  margin-bottom: 1vh;
}

.room-info {
  width: 16%;
  height: 98.6vh;
  margin: 0 0.2vw;

  border-radius: 0.5vw;
  z-index: 131;
}

.r404 {
  font-weight: bold;
  font-size: 12vmax;
}

.r404-desc {
  font-size: 2.9vmax;
  margin-top: -2vw;
}

.players {
  margin: 3vh 0.5vw 2vh;
  text-align: center;
}

.players-header {
  font-weight: bold;
  font-size: 5vmin;
  color: white;
}

.player {
  width: 90%;
  height: 6vh;
  margin: 2vh auto;
  border-radius: 1vw;

  box-shadow: 5px 5px #00000099;
  color: black;

  background: #ffff55;

  font-size: 3vmin;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  box-sizing: border-box;
}

.player.waiting {
  box-shadow: none;
  background: none;
  border: .3vmin #484f5e solid;

  color: white;
}

.lobby-row {
  display: flex;
  align-items: center;
}

.lobby-player {
  width: 14vmin;
  height: 10vmin;

  margin: 8vmin 5vw;
}

.lobby-player-circle {
  width: 14vmin;
  height: 14vmin;

  margin-bottom: 2vmin;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 7vmin;
  box-sizing: border-box;
}

.lobby-player-circle.host {
  border: 0.7vmin #ffcc00 solid;
}

.lobby-player-circle.empty {
  border: 0.7vmin #484f5e solid;
}

.lobby-btn-start,
.lobby-waiting {
  position: absolute;
  bottom: 9vh;

  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 4vmin;

  width: 40vmin;
  height: 7vmin;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4vw;
}

.lobby-waiting {
  border: 4px #484f5e solid;
}

.lobby-btn-start {
  background: #3c414d;
  box-shadow: 3px 3px #000000dd;
  cursor: not-allowed;

  user-select: none;
}

.lobby-btn-start.active {
  background: #00ff00;
  box-shadow: 3px 3px #008800;
  color: black;
  cursor: pointer;
}

.lobby-btn-start.active:hover {
  background: #00cc00;
  box-shadow: 1px 1px #008800;
  transform: translate(1px, 1px);
}


.game-player-circle {
  width: 4vmin;
  height: 4vmin;

  margin: 0.5vmin 1vmin 0.5vmin 0;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5vmin;
  box-sizing: border-box;

  position:absolute;
  left: 1vmin;
}

.game-player-circle.host {
  border: 0.3vmin #ffcc00 solid;
}


.game-player-lives {
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5vmin;
  box-sizing: border-box;

  position:absolute;
  right: 1vmin;
}

